@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is the premier place to get restaurant reviews</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurant Rater</h2>
        <p>
            Tincidunt integer eu augue ninc elit dolor, luctus placerat sclerisque euismod, iaculis eu lacus nun mi elit, ve
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best food!</h2>
        <p>Tincidunt integer eu augue ninc elit dolor, luctus placerat sclerisque euismod, iaculis eu lacus nun mi elit, ve</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant Rating</h2>
        <p>Tincidunt integer eu augue ninc elit dolor, luctus placerat sclerisque euismod, iaculis eu lacus nun mi elit, ve</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>